.rodape_principal {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color-primary);
  z-index: 10;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rodape_principal img {
  width: 150px;
}

.pesquisa {
  display: flex;
  align-items: center;
}

.pesquisa input {
  height: 25px;
  width: 250px;
  border: none;
  border-radius: 3px;
}

.pesquisa img {
  width: 15px;
  height: 20px;
  padding: 3px 10px;
}
